<h1>Your Profile</h1>

<h4><%= button_to "Create a New List", new_list_path, method: :get %></h4>
<h4><%= button_to "View Current Lists", lists_path, method: :get %></h4>
<h4><%= button_to "View Full Schedule", schedule_path, method: :get %></h4>
<h4><%= button_to "See Your Usage Stats", profile_path, method: :get %></h4>
<h4><%= button_to "Delete Your Profile", profile_path, method: :delete %></h4>